.teams-input * {
    font-size: 1.5em;
    background: none;
    border: none;
    color: var(--secondary-color);
    transition: font-size 0.1s;
  }
  .teams-input:hover {
    font-size: 1.1em;
  }
  .teams-input .fa-times:hover {
    cursor: pointer;
  }