@media (prefers-color-scheme: dark) {
    .theme-green {
      --primary-color: #2d333b;
      --secondary-color: #cdd9e5;
      --tertiary-color: #1e252b;
      --background-color: #1c2128;
      --focused-color: #339BFF;
    }
  
    .theme-dark {
      --primary-color: #EDF5E1;
      --secondary-color: #05386B;
      --tertiary-color: #5CDB95;
      --background-color: #8EE4AF;
      --focused-color: #D2691E;
    }
  }
  @media (prefers-color-scheme: light) {
    .theme-green {
      --primary-color: #EDF5E1;
      --secondary-color: #05386B;
      --tertiary-color: #5CDB95;
      --background-color: #8EE4AF;
      --focused-color: #33DFFF;
    }
  
    .theme-dark {
      --primary-color: #2d333b;
      --secondary-color: #cdd9e5;
      --tertiary-color: #1e252b;
      --background-color: #1c2128;
      --focused-color: #33DFFF;
    }
  }